/* nth1.html stylesheet */
table, tr, td {border:1px solid #000;}
#t {width: 300px; height: 300px; border-collapse: collapse;}
#t tbody {}
#t tbody tr {}
#t tbody tr td {}
/* #t tbody tr:nth-child(1) td:nth-child(1) {
    background-color: yellow;
} */
#t tbody tr:first-child td:first-child {background-color: yellow;}
/* #t tbody tr:last-child td:last-child {background-color: aqua;} */
#t tbody tr:nth-child(2) td:nth-child(2) {background-color: violet;}
#t tbody tr:nth-child(3) td:nth-child(3) {background-color: blue;}
.box h2:nth-child(3) {background-color: aqua;}
.box h2:nth-of-type(1) {color: red;}
.box h2:first-of-type {font-weight: 800;}
.box p:nth-child(6) {background-color: bisque;}
.box p:nth-of-type(4) {color: darkorange;}
.box p:last-of-type {font-weight: 200;}
.list {}
/* 오타!!!!!!!!!!!!!!!!!!!!!!! */
.list li {width:50px; height: 50px; border:  1px solid #000;
    font-size: 0.75rem; display: inline-block; line-height: 50px; text-align: center;
}
/* .list li:nth-child(2n) {background-color: yellow;} */
/* .list li:nth-child(3n+1) {color: red;} */
/* .list li:nth-child(3n+2) {color: darkorange;} */
.list li:nth-child(odd) {background-color: aqua;}
.list li:nth-child(even) {color: red;}