/* pst.csss */
html, body {height: 300vh;}
/* 공통 */
.pst {background-color: #eee; padding: 20px; margin: 20px;}
.pst li {width: 100px; height: 100px;}
.pst li:nth-child(1) {background-color: aqua;}
.pst li:nth-child(2) {background-color: yellow;}
.pst li:nth-child(3) {background-color: blue;}
.pst li:nth-child(4) {background-color: orange;}
/* 개별 */
.pst1 {
    position: relative; /* absolute 위치 기준 잡기 위해 relative 줌. (여러 relative가 있으면 가까운 부모 기준) */
}
.pst1 li {}
.pst1 li:nth-child(2) {
    position: relative; /* 필수속성 현재 위치기준*/
    left: 20px; top: 20px; /*선택속성(이동하고 싶은 방향에 따라 지정)*/
}
.pst1 li:nth-child(3) {
    position: absolute; 
    right: 0; bottom: 0;
}
.pst1 li:nth-child(4) {
    position: absolute; right: 0; top: 0;
}
.pst1 li span {
    display: inline-block;
    border: 5px solid red; padding:10px;
    position: absolute;
    /* 움직이려는 위치가 어떤걸 기준으로 잡는 것이 쉬운지에 따라 위치 기준을 부모 또는 자기자신으로 정하기(position 속성 상관X position만 부여하면 위치 기준 잡힘) */
    /* span의 부모는 li이므로 li에 position 들어가면 li 기준으로 위치 */
    /* li:nth-child(4)는 부모가 pst1이기 때문에 pst1 기준으로 위치 */
    right: 0; bottom: 0;
}
/* =============================position 이해하기 */
#all {
    width: 500px; height: 500px;
    border: 5px solid blue;
    position: relative;
}
#all #box {
    width: 300px; height: 300px;
    border: 5px solid red;
    position: absolute; right: 10px; bottom: 0;
}
#all #box .contents {
    width: 150px; height: 150px;
    background-color: yellow;
    position: absolute; left: 0; bottom: 0;
}
.top {
    position: fixed; /* 무조건 body기준 위치 설정 */
    right: 50px; bottom: 50px;
}